* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 4.8vw;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0e0e0e;
  color: #dac5a7;
  padding: 0.5rem;
}

.view-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view-1 img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-1 h1 {
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
  line-height: 1;
}
.view-1 h1 span {
  font-style: italic;
}
.view-1 p {
  text-align: center;
  font-size: 1.13rem;
  opacity: 0.8;
  font-weight: 100;
  line-height: 1.4;
  margin: 0.9rem 0;
}
.view-1 p br {
  display: none;
}

.view-2 {
  width: 100%;
  padding: 4rem 0rem;
  display: flex;
  justify-content: center;
}
.view-2 .marque {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.view-2 .marque::after {
  content: "";
  width: 50%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #0e0e0e, transparent);
}
.view-2 .marque::before {
  content: "";
  width: 50%;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left, #0e0e0e, transparent);
  z-index: 10;
}
.view-2 .marque .text {
  display: flex;
  gap: 2rem;
  padding: 0 1.5rem;
  animation: marque 10s linear infinite both;
}
.view-2 .marque .text p {
  font-size: 1.5rem;
  font-weight: 300;
}

@keyframes marque {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.view-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-3 .box {
  border: 1px solid gray;
  background-color: #181716;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-3 .box h1, .view-3 .box p {
  font-weight: 100;
}
.view-3 .box .btn-text {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
}
.view-3 .box .btn-text i {
  font-size: 0.8rem;
  color: #dac5a7;
  padding: 0.5rem;
  border: 1px solid #535050;
  border-radius: 50%;
}
.view-3 .box .btn-text h3 {
  font-weight: 100;
}

.view-4 .heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}
.view-4 .heading h1, .view-4 .heading p {
  font-weight: 100;
}
.view-4 .heading .end {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.view-4 .heading i {
  color: white;
  font-size: 1rem;
  padding: 0.8rem;
  border: 1px solid grey;
  border-radius: 50%;
}
.view-4 .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
  flex-wrap: wrap;
}
.view-4 .work .imgages {
  width: 100%;
  aspect-ratio: 3/2;
  border: 1px solid gray;
  position: relative;
  display: flex;
  justify-content: center;
}
.view-4 .work .imgages img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-4 .work .imgages .description {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  border: 1px solid gray;
  background-color: #1b1812;
  opacity: 0.8;
  position: absolute;
  bottom: 0.8rem;
}
.view-4 .work .imgages .description p {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  html {
    font-size: clamp(16px, 1vw, 20px);
  }
  .view-1 img {
    width: 30%;
  }
  .view-1 h1 {
    font-size: 7.5rem;
  }
  .view-1 p {
    font-size: 1.2rem;
    margin: 2rem 0;
  }
  .view-1 p br {
    display: block;
  }
  .view-2 {
    padding: 4rem 5rem;
  }
  .view-2 .marque {
    width: 100%;
  }
  .view-2 .marque .text p {
    font-size: 2rem;
  }
  .view-3 {
    flex-direction: row;
    padding: 3rem;
    gap: 2rem;
  }
  .view-4 .work {
    flex-direction: row;
  }
  .view-4 .work .imgages {
    width: 48%;
  }
  .view-4 .work .imgages .description {
    padding: 1rem 1rem;
  }
  .view-4 .work .imgages .description p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */