
body{
    background-color: black;
    color: white;
    /* font-family: gilroy; */
    font-family: 'Helvetica';
}

p{
    /* font-style: italic; */
    /* font-weight: 900 ; */

    line-height: 1.5;
    /* letter-spacing: 10px; */
    /* word-spacing: 10px; */

    /* text properties  */
    /* text-align: center; */

    text-transform: capitalize;

    /* text-decoration: underline; */
    text-decoration-style: dotted;
}

.para{
    text-shadow: 10px 12px 10px white;
}

