*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
.parent{
    height: 300px;
    /* width: 300px; */
    background-color: wheat;

    display: grid;
    /* grid-template-areas: 
    "a a ."
    "a a ."
    ". b c"; */

    grid-template-columns: repeat(3,1fr);
}
.child{
    background-color: red;
    border: 2px solid black;
    height: 100px;
}  

.child-a {
    /* grid-area: a; */
    background-color: green;
}
.child-b {
    /* grid-area: b; */
    background-color: blue;
}
.child-c {
    /* grid-area: c; */
    background-color: yellow;
}




