:root {
  --pri: #F8F4E1;
  --sec: #2e1707;
  --tri1: #FEBA17;
  --tri2: #74512D;
  --red: red;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url("/Fonts/AeonikTRIAL-Light.otf");
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url("/Fonts/AeonikTRIAL-Regular.otf");
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url("/Fonts/AeonikTRIAL-Bold.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: aeonik;
  color: var(--pri);
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--sec);
  position: relative;
}
main nav {
  width: 100%;
  position: fixed;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  top: 1rem;
  background-color: var(--tri2);
  display: flex;
  justify-content: space-between;
}
main nav a {
  color: var(--pri);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}
main section.allElems {
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
}
main section.allElems .elem {
  width: 200px;
  height: 250px;
  background-color: var(--tri1);
  font-size: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
main section.allElems .elem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.allElems .elem p {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-weight: 700;
  color: var(--pri);
}
main section.allElems .elem:active {
  scale: 0.97;
}
main .fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 20px;
  display: none;
  position: absolute;
}
main .fullElem .back {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: var(--red);
  font-size: 1.5rem;
  font-weight: 200;
  border: none;
  color: var(--pri);
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
}
main .fullElem .back:active {
  scale: 0.97;
}
main .todo-list-page {
  width: 100%;
  height: 100%;
}
main .todo-list-page h2 {
  font-size: 2rem;
  text-align: center;
}
main .todo-list-page .todo-container {
  width: 100%;
  height: 80%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
main .todo-list-page .todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 10px;
}
main .todo-list-page .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 1rem;
}
main .todo-list-page .todo-container .addTask form input {
  width: 100%;
  padding: 15px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--pri);
  color: var(--sec);
}
main .todo-list-page .todo-container .addTask form textarea {
  width: 100%;
  padding: 15px 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: var(--pri);
  color: var(--sec);
}
main .todo-list-page .todo-container .addTask form button {
  width: 100%;
  background-color: var(--tri1);
  padding: 0.8rem 1rem;
  color: var(--sec);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease 0.3s;
}
main .todo-list-page .todo-container .addTask form button:hover {
  background-color: #d79e18;
}
main .todo-list-page .todo-container .addTask form botton:active {
  scale: 0.96;
}
main .todo-list-page .todo-container .addTask form .check-box {
  width: 100%;
  display: flex;
}
main .todo-list-page .todo-container .addTask form .check-box input {
  width: 10%;
}
main .todo-list-page .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  font-weight: 700;
  overflow: auto;
  align-items: center;
}
main .todo-list-page .todo-container .allTask .task {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: var(--pri);
  color: var(--sec);
}
main .todo-list-page .todo-container .allTask .task h2 {
  font-size: 1rem;
}
main .todo-list-page .todo-container .allTask .task p {
  font-size: 0.9rem;
  font-weight: 500;
}
main .todo-list-page .todo-container .allTask .task .imp {
  color: red;
  font-weight: bold;
}
main .todo-list-page .todo-container .allTask .task button {
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(44, 128, 29);
  color: var(--pri);
  font-weight: 700;
  cursor: pointer;
}
main .todo-list-page .todo-container .allTask::-webkit-scrollbar {
  display: none;
}
main .daily-planner-page {
  width: 100%;
  height: 100%;
}
main .daily-planner-page h2 {
  font-size: 2rem;
  text-align: center;
}
main .daily-planner-page .day-planner {
  background-color: var(--tri2);
  height: 85%;
  width: 100%;
  border-radius: 10px;
  margin-top: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
}
main .daily-planner-page .day-planner .day-planner-time {
  gap: 1rem;
  position: relative;
  margin-bottom: 1rem;
  width: 49%;
}
main .daily-planner-page .day-planner .day-planner-time input {
  padding: 10px;
  padding-left: 40px;
  padding-top: 25px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--pri);
}
main .daily-planner-page .day-planner .day-planner-time p {
  position: absolute;
  color: var(--sec);
  top: 10%;
  left: 2px;
}
main .daily-planner-page .day-planner::-webkit-scrollbar {
  display: none;
}
main .motivational-page {
  display: block;
}
main .motivational-page h1 {
  text-align: center;
  font-size: 2rem;
}/*# sourceMappingURL=style.css.map */